@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Space+Mono&display=swap'); /*-----Google fonts */

/*-------------------------------------------------------Defaults */

:root {
    /* CSS HEX */
--minion-yellow: #fde74cff;
--carolina-blue: #2397d7ff;
--capri: #22c0f9ff;
--vivid-sky-blue: #47ceffff;
--spanish-blue: #2471b6ff;
--green-blue: #1866afff;
--midnight-blue: #03045eff;
--midnight-blue-2: #0f1066ff;
--midnight-blue-3: #1a1b6dff;
--st-patricks-blue: #2f307aff;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Alfa Slab One', cursive;
    overflow-x: hidden;
}

/*-------------------------------------------------------Navigational menu */

header {
    background-color: var(--vivid-sky-blue);
    border-bottom: 2px solid var(--midnight-blue-3)
}

a {
    font-size: 1.5rem;
    color: unset;
    text-decoration: none;
}

li {
    display: inline-block;
    padding: 0 30px;
}

ul {
    list-style-type: none;
}

nav {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Space Mono', monospace;
    justify-content: space-between;
}

.nav-left, .nav-right {
    width: 45%;
}

.logo {
    padding: 0;
    font-size: 5vh;
    letter-spacing: 2px;
    font-family: 'Alfa Slab One', cursive;
}

.logo:hover {
    color: var(--st-patricks-blue);
}

.dark-mode-button {
    width: 60px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--midnight-blue);
    border: 3px solid var(--green-blue);
    border-radius: 45%;
    position: relative;
    top: 2vh;
}

.dark-mode-button:hover {
    background-color: var(--minion-yellow);
    border: 3px solid var(--midnight-blue);
    cursor: pointer;
}

.dark-mode-button:hover .fa-moon,
.dark-mode-button:hover .fa-sun {
    color: var(--midnight-blue);
}

.fa-moon,
.fa-sun {
    color: var(--minion-yellow);
    padding-top: 15px;
    font-size: 1.2rem;
}

/*-------------------------------------------------------Game board */

.game {
    width: 85vh; /*-------------------------------------------------------Game width */
    height: 70vh;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid,
.behind-grid {
    height: 468px;
    width: 468px;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid red;
    position: absolute;
}

.large-cells {
    width: 152px;
    height: 152px;
    border: 2px solid red;
}

.game-grid-cells {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
}