@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Space+Mono&display=swap'); /*-----Google fonts */

/*-------------------------------------------------------Defaults */

:root {
    /* CSS HEX */
--minion-yellow: #fde74cff;
--carolina-blue: #2397d7ff;
--capri: #22c0f9ff;
--vivid-sky-blue: #47ceffff;
--spanish-blue: #2471b6ff;
--green-blue: #1866afff;
--midnight-blue: #03045eff;
--midnight-blue-2: #0f1066ff;
--midnight-blue-3: #1a1b6dff;
--st-patricks-blue: #2f307aff;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Alfa Slab One', cursive;
    overflow-x: hidden;
}

/*-------------------------------------------------------Navigational menu */

header {
    background-color: green;
}

a {
    color: unset;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

nav {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Space Mono', monospace;
}

.dark-mode-btn {
    width: 30px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--midnight-blue);
    border: 2px solid var(--green-blue);
    border-radius: 20%;
}

.fa-moon,
.fa-sun {
    font-size: 1.2rem;
    position: absolute;
}

.fa-sun {
    visibility: hidden;
}

.fa-moon {
    color: var(--minion-yellow);
}